In [1]:
import pandas as pd

movie_list = pd.read_csv("Movie List.csv")
movie_list.head()

,Movie_Name,ID,Genre,Release_Year,URL_Link,Price
0,Top Gun: Maverick,Act1,Action,2022,Act1@movie.com,20
1,Mission: Impossible - Fallout,Act2,Action,2018,Act2@movie.com,15
2,The Terminator 2: Judgment Day,Act3,Action,1991,Act3@movie.com,25
3,The Dark Knight,Act4,Action,2008,Act4@movie.com,13
4,Inception,Act5,Action,2010,Act5@movie.com,15

In [2]:
%load_ext sql
import csv, sqlite3

In [3]:
con = sqlite3.connect("MoviePurchase.db")
cur = con.cursor()

%sql sqlite:///MoviePurchase.db

### Manual Creation of Tables

In [4]:
%%sql
DROP TABLE MOVIE_lIST;

 * sqlite:///MoviePurchase.db
Done.

[]

In [5]:
## Importing from CSV file and converting CSV to SQL table

movie_list.to_sql("MOVIE_LIST", con, if_exists = 'replace', index = False, method = "multi")

25

### Query table

In [6]:
%%sql
select * from MOVIE_LIST
    limit 5;

 * sqlite:///MoviePurchase.db
Done.

[('Top Gun: Maverick', 'Act1', 'Action', 2022, 'Act1@movie.com', 20),
 ('Mission: Impossible - Fallout', 'Act2', 'Action', 2018, 'Act2@movie.com', 15),
 ('The Terminator 2: Judgment Day', 'Act3', 'Action', 1991, 'Act3@movie.com', 25),
 ('The Dark Knight', 'Act4', 'Action', 2008, 'Act4@movie.com', 13),
 ('Inception', 'Act5', 'Action', 2010, 'Act5@movie.com', 15)]

In [24]:
name = str(input('Hello! May I know your name?\n '))
print(f'\nHello! {name} Nice to meet you.\n\nWelcome to Tife\'s Movie Store!\n')
Inventory = %sql select Movie_Name as Movie, Genre, Release_Year, Price as Price$ from MOVIE_LIST;
 
print('These are the movies I have in stock right now:\n', Inventory)

entry = str(input('Please enter the name of the movie you would like to buy today:\n'))  
movie_query = f"select Movie_Name as Movie, Genre, Release_Year, Price as Price$ from MOVIE_LIST \
                where Movie_Name like '%{entry}%';"

cur.execute(movie_query)
match = cur.fetchall()

df = []
if match != []:
    for row in match:
        row = list(row)
        df.append(row)
        
    df = pd.DataFrame(df, columns = ['Movie', 'Genre', 'Release Year', 'Price$'])
    print('\nHere is your selection:\n', df)
    
    if len(df) == 1:
        print(f"\nYou have chosen to buy the ${row[3]}.00 {row[1]} movie '{row[0]}', made in {row[2]}. Thank you!")
    else:   
        entry = str(input('Please choose one:\n'))  
        movie_query = f"select Movie_Name as Movie, Genre, Release_Year, Price as Price$ from MOVIE_LIST \
                where Movie_Name like '%{entry}%';"
        cur.execute(movie_query)
        match = cur.fetchall()
        for row in match:
            print(f"\nAwesome. You have chosen to buy the ${row[3]}.00 {row[1]} movie '{row[0]}', made in {row[2]}. Thank you!")

else: 
    print("I'm sorry! I don't think we have this movie.")

Hello! May I know your name?
 Tife

Hello! Tife Nice to meet you.

Welcome to Tife's Movie Store!

 * sqlite:///MoviePurchase.db
Done.
These are the movies I have in stock right now:
 +----------------------------------------+------------+--------------+--------+
|                 Movie                  |   Genre    | Release_Year | Price$ |
+----------------------------------------+------------+--------------+--------+
|           Top Gun: Maverick            |   Action   |     2022     |   20   |
|     Mission: Impossible - Fallout      |   Action   |     2018     |   15   |
|     The Terminator 2: Judgment Day     |   Action   |     1991     |   25   |
|            The Dark Knight             |   Action   |     2008     |   13   |
|               Inception                |   Action   |     2010     |   15   |
|     Robin Hood: Prince of Thieves      | Adventure  |     1991     |   18   |
|                Stardust                | Adventure  |     2007     |   9    |
|          Alice in Wonderland           | Adventure  |     2010     |   10   |
|            The Jungle Book             | Adventure  |     2016     |   18   |
|     Jumanji: Welcome to the Jungle     | Adventure  |     2017     |   20   |
|               Peter Pan                |  Fantasy   |     2003     |   17   |
|                Big Fish                |  Fantasy   |     2003     |   21   |
|               Pinocchio                |  Fantasy   |     2019     |   23   |
| Harry Potter and the Sorcerer's Stone  |  Fantasy   |     2001     |   11   |
|                The BFG                 |  Fantasy   |     2016     |   10   |
|            12 Years a Slave            | Historical |     2013     |   21   |
|             Hidden Figures             | Historical |     2016     |   24   |
|          Saving Private Ryan           | Historical |     1998     |   14   |
|                Titanic                 | Historical |     1997     |   15   |
|               Gladiator                | Historical |     2000     |   5    |
|              The Notebook              |  Romance   |     2004     |   13   |
|           A Walk to Remember           |  Romance   |     2002     |   12   |
|          Pride and Prejudice           |  Romance   |     2005     |   18   |
|              Pretty Woman              |  Romance   |     1990     |   19   |
|         The Fault in Our Stars         |  Romance   |     2014     |   16   |
+----------------------------------------+------------+--------------+--------+
Please enter the name of the movie you would like to buy today:
the

Here is your selection:
                                     Movie      Genre  Release Year  Price$
0          The Terminator 2: Judgment Day     Action          1991      25
1                         The Dark Knight     Action          2008      13
2                         The Jungle Book  Adventure          2016      18
3          Jumanji: Welcome to the Jungle  Adventure          2017      20
4  Harry Potter and the Sorcerer's Stone     Fantasy          2001      11
5                                 The BFG    Fantasy          2016      10
6                            The Notebook    Romance          2004      13
7                  The Fault in Our Stars    Romance          2014      16
Please choose one:
bfg

Awesome. You have chosen to buy the $10.00 Fantasy movie 'The BFG', made in 2016. Thank you!